FRONTEND_PORT=3000
BACKEND_PORT=8000

# Get these from https://my.telegram.org/apps
TELEGRAM_API_ID=Change_To_Your_Own_ID
TELEGRAM_API_HASH=Change_To_Your_Own_Hash
TELEGRAM_PHONE=Change_To_Your_Own_Phone_Number
